{% extends 'base.html' %}

{% block titulo %} Signup {% endblock %}

{% block content %}

    <main class="container">
        <div class="card">
            <div class="card-header text-center">
                <h1>Signup</h1>

                {{ error }}

            </div>

            <div>
                <div class="col-md-4 offset-md-4">
                    <form action="/signup/" method="POST" class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>
                            Signup
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </main>




{% endblock %}